<% provide(:title, 'Administer Users') %>
<h1>Administer Users</h1>
<table id='Users'>
	<thead>
		<tr>
			<th>NAME</th>
			<th>E-MAIL</th>
			<th>CREATED_AT</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
	</tfoot>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.created_at %></td>
			<td><%= check_box_tag "user_id", user.id %></td>						
		</tr>
		<% end %>
	</tbody>
</table>
<div class="actions">
<%= link_to "New User", new_path %>
|
<%= link_to "Edit User", edit_path %>
|
<%= link_to "Delete User", index_path(@user), :method => 'delete', data: { confirm: "Are you sure?"} %>
|
<%= submit_tag 'Delete', :name =>'commit', :value => 'Delete', 
:confirm => 'Are you sure?' %>
</div>