<% provide(:title, 'toPDF') %>
<div class="center hero-unit">
  <h1>Los geht's!</h1> 
</div>

<div class="row">
  <div class="span8 offset2">
    <%= form_tag('/result')  do %>   

      <p><h3>Name des Gerichts</p></h3>
      <%= text_field_tag 'Name of the dish' %>
      <p>Zuaten für</p><%= number_field_tag 'Number of Persons', nil, :max => 5 %><p></p>      
      <%= text_area_tag 'Ingredients', "", :size => "1x15" %>
      <p>Zubereitung:</p>
      <%= text_area_tag 'Preparation', "", :size => "1x15" %>          

      <%= submit_tag "Create recipe", :name => "create", class: "btn btn-medium btn-primary" %>
      <%= submit_tag "Cancel", :name => "cancel", class: "btn btn-medium btn-primary" %>
    <% end %>

  </div>
</div>